:root {
  --vp-font-family-base: Noto Sans SC, Noto Sans CJK SC, Noto Sans, Noto Color Emoji, ui-sans-serif, system-ui,
    -apple-system, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --vp-font-family-mono: Noto Sans Mono CJK SC, Noto Sans Mono, Cascadia Mono, ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, Liberation Mono, Courier New, monospace, var(--vp-font-family-base);
  --vp-c-indigo-1: rgb(142, 140, 216);
  --vp-c-indigo-2: rgb(122, 120, 196);
  --vp-c-indigo-3: rgb(102, 100, 176);
  --vp-c-indigo-soft: rgba(142, 140, 216, 0.15);

  &.dark {
    --vp-c-indigo-1: rgb(182, 180, 255);
    --vp-c-indigo-2: rgb(162, 160, 236);
    --vp-c-indigo-3: rgb(142, 140, 216);
    --vp-c-indigo-soft: rgba(182, 180, 255, 0.3);
  }
}

.algolia [command-dialog-mask] {
  background-color: rgb(0 0 0 / 0.5);
}

@media (min-width: 960px) {
  .VPHome {
    margin-top: 48px;
  }
}

.VPHero.VPHomeHero .image-container img {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px var(--vp-c-indigo-soft);
}

.dark .VPHero.VPHomeHero .image-container img {
  box-shadow: 0 0 10px var(--vp-c-indigo-soft);
}
